# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
env/
venv/
.env
.venv

# PyCharm configuration files
.idea/

# Local test files
tests/fixtures/

# Build-related files
Dockerfile
.dockerignore